<div class="container"><h4 class="mt-2">User Form</h4></div>
<div class="container">
    <form #userDetail="ngForm" (ngSubmit)="submit(userDetail)">
      <div class="form-group">
        <label for="name">Name</label>
        <input required maxlength="20" minlength="8" type="text" name="name" class="form-control" ngModel #name="ngModel">
        <div *ngIf="name.touched && name.invalid" class="alert alert-danger mt-2">
          <p *ngIf="name.errors.required">Name is required</p>
          <p *ngIf="name.errors.minlength">Name must of 8 charecters</p>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" ngModel>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="number" name="phone" class="form-control" ngModel>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" class="form-control" ngModel>
      </div>
      <div class="form-group">
        <label for="web">Website</label>
        <input type="text" name="website" class="form-control" ngModel>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="userDetail.invalid">Submit</button>
    </form>
</div>